<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ZHGK-XZ</display-name>
  <description>ZHGK-XZ</description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>projectName</param-name>
    <param-value>framework</param-value>
  </context-param>
  <context-param>
    <param-name>configName</param-name>
    <param-value>log4jconfig</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>log4jLocation</param-name>
    <param-value>/WEB-INF/classes/log4jconfig.xml</param-value>
  </context-param>
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.hndfsj.framework.listener.InitResouceListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>userAccessLog</filter-name>
    <filter-class>com.hndfsj.framework.log.UserAccessLogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userAccessLog</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>httpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>httpMethodFilter</filter-name>
    <servlet-name>RWFramework</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>RWFramework</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/RWFramework-servlet.xml</param-value>
    </init-param>
    <init-param>
      <param-name>publishEvents</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>RWFramework</servlet-name>
    <url-pattern>/rest/*</url-pattern>
    <url-pattern>/web/*</url-pattern>
    <url-pattern>/resource/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/common/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/common/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/500.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>/rest/default/newLogin</welcome-file>
  </welcome-file-list>
</web-app>